/* Start Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*End Font */

/* Start Body */
body{
    background-color: seashell;
    color:indianred;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color: blueviolet;
    text-decoration: brown;
}
a:hover,
a:actived {
    color: cadetblue;
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start Menu Primer */
.menu-primer ul{
    background-color:white;
    border-radius: 20px;
    box-shadow:
        0 3px 5px -1px blueviolet,
        0 5px 10px  0 palevioletred,
        0 2px 10px 0 pink,
}

.menu-primer li{
    border-right: 5px solid indianred;
    display: inline-block;
    margin: 0 -4px;
    text-align: center;
}

.menu-primer a{
        color: indianred;
        font-size: 26px;
        display: inline-block;
        padding: 10px 48px;
        text-transform: uppercase; 
}

.menu-primer a:hover{
    background-color: white;
    color: black;
    text-decoration: none;
}

.menu-primer .active {
    background-color:indianred;
    color: white;
    text-decoration: none; 
}
/* End Menu Primer */

/* Start Heading */
h1,h2,h3,h4{
    font-weight: 400;
    letter-spacing: 1px;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 14px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: seashell;
    border: 1px solid seashell;
    border-radius: 8px;
    padding: 20px 0;
}
/* End Jumbotron */

/* Start Menu Sekunder */
.menu-sekunder{
    background-color: beige;
    border-bottom: 1px solid seashell;
    border-top: 1px solid beige;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder li,
.menu-sekunder p{
    font-size: 14px;
}
.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 50%;
}
.menu-sekunder-two{
    width: 30%;
}
.menu-sekunder-three {
    width: 20%;
}
/* End Menu Sekunder */

/* Start Copyright */
.copyright p {
    font-size: 15px;
}
/* End Copyright */

/* Start Effect */
.snip1585 {
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 10px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .snip1585 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  
  .snip1585:before,
  .snip1585:after {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 50px solid rgba(0, 0, 0, 0.5);
    border-bottom: 50px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
  }
  
  .snip1585:before {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
  }
  
  .snip1585:after {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
  }
  
  .snip1585 img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
  }
  
  .snip1585 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  
  .snip1585 h3 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
  }
  
  .snip1585 h3 span {
    display: block;
    font-weight: 700;
  }
  
  .snip1585 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
  
  .snip1585:hover > img,
  .snip1585.hover > img {
    opacity: 0.7;
  }
  
  .snip1585:hover:before,
  .snip1585.hover:before,
  .snip1585:hover:after,
  .snip1585.hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  
  .snip1585:hover figcaption,
  .snip1585.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
/* End Effect */